{% load static %}
<!DOCTYPE html>
<html>

<head>
  <!-- Required meta tags always come first -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=sdge">
  <link rel="icon" type="image/x-icon" href="{% static '/img/favicon.ico' %}">
  <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css" >
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body style="font-family: Arial, Helvetica, sans-serif; background-color: rgba(17, 0, 255, 0.527);">
  
  <header style="margin-bottom: 0;">
    <div class="jumbotron" style="background-color: rgb(13, 5, 46); height: 100; padding-top:25px; margin-bottom:9px">
      <div class="container">
        <div class="row row-header">
          <!--<a href="./index1.html">
            <span style="font-size: 50px; color:rgb(243, 243, 243);" >
              <span class="fa fa-user-circle" data-toggle="popover" data-target="focus"></span>
            </span>
          </a>-->
          
            
            <div class="col-5">
              <a style="text-decoration: none;" href="/" >
                  <img src="{% static '/img/logo.png' %}" style="width: 50px; height: 50px;" >
                   <span style="font-family: Arial, Helvetica, sans-serif; font-size: 30px; " >Shortcuttkey</span>
              </a> 
            </div> 
            <div class="col-7" style="text-align: end;">
              
              {% if user.is_authenticated %}
              <a style="color: rgb(255, 255, 255);">Welcome, {{user.username}}</a>
              <a role="button" href="favourite" class="btn btn-primary">Favourites</a>
              <a href="logout" role="button" class="btn btn-primary">Logout</a>
              {% else %}
              <a role="button" href="createaccount" class="btn btn-primary" data-toggle="modal" data-target="#createaccount" >Create account</a>
              <a role="button" href="signin" class="btn btn-primary" data-toggle="modal" data-target="#signin">Sign in</a>
              {% endif %}
              
            </div>
        </div>
      </div>
    </div>
  </header>

  <!--create account modal-->
  <div class="modal fade" id="createaccount" tabindex="-1" role="dialog" aria-labelledby="createaccountmodel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="createaccountmodal">Create account</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="card">
              <br>
                  <div class="container">
                        <form action="createaccount" method="post">
                            
                                <div class="row">
                                  {% csrf_token %}
                                    
                                    <div class="col-3">
                                        <label>Username</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" name="username" placeholder="Enter username" class="form-control" required>
                                    </div><br><br>
                                    <div class="col-3">
                                        <label>First name</label>
                                    </div>     
                                    <div class="col-8">
                                        <input type="text" name="first_name" placeholder="Enter first name" class="form-control" required >
                                    </div><br><br>
                                    <div class="col-3">
                                        <label>Last name</label>
                                    </div>     
                                    <div class="col-8">
                                        <input type="text" name="last_name" placeholder="Enter last name" class="form-control" required>
                                    </div>  <br><br>
                                    <div class="col-3">
                                        <label>Email</label>
                                    </div>     
                                    <div class="col-8">
                                        <input type="email" name="email" placeholder="Enter email" class="form-control" required>
                                    </div>  <br><br>
                                    <div class="col-3">
                                        <label>Password</label>
                                    </div>     
                                    <div class="col-8">
                                        <input type="password" name="password1" placeholder="Enter password" class="form-control" required>
                                    </div>  <br><br>
                                    <div class="col-3">
                                      
                                    </div>     
                                    <div class="col-8">
                                        <input type="password" name="password2" placeholder="Re-Enter password" class="form-control" required>
                                    </div>  <br><br>
                                    <div class="col-12 text-center">
                                        <input type="submit" class="btn btn-primary" value="Create account">
                                    </div>
                                    
                                </div>
                                <div class="text-center">
                                  {% for message in messages%}
                                  <h2>{{message}}</h2>
                                  {% endfor %}
                                </div>
                        </form>
                      </div>
                  <br><br><br>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!--signin modal-->
  <div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="signinmodel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title" id="signinmodal">Sign in</h3>
          <button type="button" class="close" data-dismiss="modal" aria-label="close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body">
          <div>
            <div class="card">
                <form action="signin" method="POST">
                  <div class="container"><br>
                      <div class="row">
                          {% csrf_token %}
                          <div class="col-6">
                              <label>Username</label>
                          </div>
                          <div class="col-6">
                              <input type="text" placeholder="Enter username" class="form-control" name="username" required>
                          </div>
                          <br><br>
                          <div class="col-6">
                              <label>Password</label>
                          </div>
                          <div class="col-6">
                              <input type="password" class="form-control" placeholder="Enter password" name="password" required>
                          </div><br><br>
                          <div class="col-12 text-center">
                              <input role="button" class="btn btn-primary" type="submit" value="Signin">
                          </div>
                          
                      </div><br>
                  </div>
                  <div class="text-center">
                    {% for message in messages%}
                    <h2 style="color: red;">{{message}}</h2>
                    {% endfor %}
                  </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <nav class="navbar bg-primary navbar-expand-sm navbar-dark " style="margin-top: 0px;">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar1">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="Navbar1">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
          <li class="nav-item"><a class="nav-link" width="200px" href="#">&nbsp&nbsp&nbsp&nbsp&nbsp Adobe</a></li>
          <li class="nav-item"><a class="nav-link" href="#"> &nbsp&nbsp&nbsp&nbsp&nbsp Apple</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="browserdropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> &nbsp&nbsp&nbsp&nbsp&nbsp Browsers</a>
            <div class="dropdown-menu " aria-labelledby="browserdropdown">
              <div>
                <a class="dropdown-item" href="brave">Brave</a>
                <a class="dropdown-item" href="googlechrome">Chrome</a>
                <a class="dropdown-item" href="microsoftedge">Edge</a>
                <a class="dropdown-item" href="firefox">Firefox</a>
                <a class="dropdown-item" href="internet explorer">Internet explorer</a>
              </div>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="google" id="Googledropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> &nbsp&nbsp&nbsp&nbsp&nbsp Google</a>
            <div class="dropdown-menu dropdown-multicol" aria-labelledby="Googledropdown">
              <div class="dropdown-row">
                <a class="dropdown-item" href="googleadword">Adword</a>
                <a class="dropdown-item" href="googleanalytics">Analytics</a>
                <a class="dropdown-item" href="googleappmaker">App maker</a>
                <a class="dropdown-item" href="googlecalendar">Calendar</a>
                <a class="dropdown-item" href="googlechat">Chat</a>
                <a class="dropdown-item" href="googlechrome">Chrome</a>
                <a class="dropdown-item" href="googlecontacts">Contacts</a>
                <a class="dropdown-item" href="googledocs">Docs</a>
                <a class="dropdown-item" href="googledrawing">Drawing</a>
                <a class="dropdown-item" href="googledrive">Drive</a>
                <a class="dropdown-item" href="googleearth">Earth</a>
                <a class="dropdown-item" href="googleforms">Forms</a>
                <a class="dropdown-item" href="googlegmail">Gmail</a>
                <a class="dropdown-item" href="googlegroups">Groups</a>
                <a class="dropdown-item" href="googlehangout">Hangout</a>
                <a class="dropdown-item" href="googlekeep">Keep</a>
                <a class="dropdown-item" href="googlemeet">Meet</a>
                <a class="dropdown-item" href="googlephotos">Photos</a>
                <a class="dropdown-item" href="googlesheet">Sheet</a>
                <a class="dropdown-item" href="googlesite">Site</a>
                <a class="dropdown-item" href="googleslides">Slides</a>
                <a class="dropdown-item" href="googlewebdesigner">Web designer</a>
                <a class="dropdown-item" href="googleyoutube">Youtube</a>
              </div>
            </div>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="Meetingdropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> &nbsp&nbsp&nbsp&nbsp&nbsp Meeting</a>
            <div class="dropdown-menu" aria-labelledby="Meetingdropdown">
              <div>
                <a class="dropdown-item" href="ciscowebex">Cisco Webex</a>
                <a class="dropdown-item" href="googlemeet">Google Meet</a>
                <a class="dropdown-item" href="microsoftteams">Microsoft Teams</a>
                <a class="dropdown-item" href="zoom">Zoom</a>
              </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="microsoftdropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false"> &nbsp&nbsp&nbsp&nbsp&nbsp Microsoft</a>
            <div class="dropdown-menu dropdown-multicol" aria-labelledby="microsoftdropdown">
              <div class="dropdown-row">
                <a class="dropdown-item" href="microsoftcalendar">Calendar</a>
                <a class="dropdown-item" href="microsoftedge">Edge</a>
                <a class="dropdown-item" href="microsoftexcel">Excel</a>
                <a class="dropdown-item" href="microsoftgamebar">Game bar</a>
                <a class="dropdown-item" href="microsoftgroove">Groove</a>
                <a class="dropdown-item" href="microsoftmail">Mail</a>
                <a class="dropdown-item" href="microsoftmap">Map</a>
                <a class="dropdown-item" href="microsoftmoviesandtv">Movies and TV</a>
                <a class="dropdown-item" href="microsoftoutlook">Outlook</a>
                <a class="dropdown-item" href="microsoftpaint">Paint</a>
                <a class="dropdown-item" href="microsoftpaint3d">Paint 3D</a>
                <a class="dropdown-item" href="microsoftphotos">Photos</a>
                <a class="dropdown-item" href="microsoftpowerpoint">Powerpoint</a>
                <a class="dropdown-item" href="microsoftskype">Skype</a>
                <a class="dropdown-item" href="microsoftteams">Teams</a>
                <a class="dropdown-item" href="microsoftvoicerecorder">Voice recorder</a>
                <a class="dropdown-item" href="microsoftwindows">Windows</a>
                <a class="dropdown-item" href="microsoftword">Word</a>
                <a class="dropdown-item" href="microsoftworkpad">Workpad</a>
              </div>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="socialmediadropdown" role="button" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">&nbsp&nbsp&nbsp&nbsp&nbsp Social media</a>
            <div class="dropdown-menu " aria-labelledby="socialmediadropdown">
              <div>
                <a class="dropdown-item" href="twitter">Twitter</a>
                <a class="dropdown-item" href="whatsapp">Whatsapp</a>
                <a class="dropdown-item" href="googleyoutube">Youtube</a>
              </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <div class="row row-content">
        <div class="col-12 col-sm-8">
          {% block content %}



          {% endblock %}
          <br><br>
          <div class="row">
            <div class="col-6 " style="text-align: center;">
              <a href="browsers">
              <img src="{% static '/img/browser.png' %}" href="other" style="width: 100%; height: 100%;">
              </a>
            </div>
            <div class="col-6" style="text-align: center;">
              <a href="microsoft">
                <img src="{% static '/img/microsoft.png' %}" style="width: 100%; height: 100%;">
              </a>
            </div>
          </div><br><br>
          <div class="row">
            <div class="col-6" style="text-align: center;">
              <a href="google">
                <img src="{% static '/img/Google.png' %}" style="width: 100%; height: 100%;">
              </a>
            </div>
            <div class="col-6" style="text-align: center;">
              <a href="socialmedia">
                <img src="{% static '/img/socialmedia.jpg' %}" style="width: 100%; height: 100%;">
              </a>
            </div>

          </div><br><br>  
        </div>
        <div class="col-12 col-sm-4 ">
          <div class="card" style="border-color: rgb(0, 0, 0); border-radius: 7px;">
            <div class="card-header bg-primary" style="border-radius: 6px;">
              <h4>Logo</h5>
            </div>
            <div class="card-body" style="background-color: #D9D9D9;">
              <div class="container">
                <img style="width: 100%; height: 100%;"  src="{% static 'img/logo.png' %}">
              </div>
            </div>
          </div><br>
          <div class="card" style="border-color: rgb(0, 0, 0); border-radius: 7px;">
            <div class="card-header bg-primary" style="border-radius: 6px;">
              <h4>Most used</h5>
            </div>
            <div class="card-body" style="background-color: #D9D9D9;">
              <div class="container">
                <ul class="list-unstyled">
                  <li><a href="googleyoutube">YouTube</a></li>
                  <li><a href="whatsapp">WhatsApp</a></li>
                </ul>
              </div>
            </div>
          </div><br>
          <div class="card" style="border-color: rgb(0, 0, 0); border-radius: 7px;">
            <div class="card-header bg-primary"  style="border-radius: 6px;">
              <h5>Recently uploaded</h5>
            </div>
            <div class="card-body" style="background-color: #D9D9D9;">
              <div class="container">
                <ul class="list-unstyled">
                  <li><a href="microsoftpowerpoint">Powerpoint</a></li>
                  <li><a href="googlesheet">Google sheet</a></li>
                  <li><a href="brave">Brave</a></li>
                </ul>
              </div>
            </div>
          </div><br>
          <div class="card" style="border-color: rgb(0, 0, 0); border-radius: 7px;">
            <div class="card-header bg-primary" style="border-radius: 6px;">
              <h4>Tags</h5>
            </div>
            <div class="card-body" style="background-color: #D9D9D9;">
              <div class="container">
                <ul class="list-unstyled">
                  <li><a href="google">Google</a></li>
                  <li><a href="microsoft">Microsoft</a></li>
                  <li><a href="socialmedia">Social media</a></li>
                  <li><a href="browsers">Others</a></li>
                </ul>
              </div>
            </div>
          </div><br>
        </div>
      <br><br>
      
    </div>
  </div>

  <br><br>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4">
          <h5>Pages</h5>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="termsandconditions">Terms & Conditions</a></li>
            <li><a href="privacyandpolicy">Privacy policy</a></li>
            <li><a href="#">Site Map</a></li>
            <li><a href="contactus">Contact Us</a></li>
            <li><a href="aboutus">About Us</a>
            <li>
          </ul>
        </div>
        <div class="col-12 col-sm-5">
          <h5>Developers</h5>
          Completed by Sk<br>
          Design and development by Sai Kiran<br>
          Content written by Sai kishore bobbili<br>
        </div>
        <div class="col-12 col-sm-3 ">
          <h5>Social Media</h5>
          <ul class="list-unstyled">
            
            <li><a href="https://www.youtube.com/channel/UC1sjo5urqghLPvZ0l4c5vnQ/">YouTube</a></li>
            <li><a href="https://www.facebook.com/bobbili.saikiran.94">Facebook</a></li>
            <li><a href="https://www.instagram.com/blo.ggerblogs/">Instagram</a></li>
            <li><a href="https://twitter.com/BloggerBobbili">Twitter</a></li>
            <li><a href="https://in.pinterest.com/bobbilisaikiran/">Printerest</a></li>
            <li><a >Mail: <span style="color: rgb(127, 100, 250);">bobbiliblogger@gmail.com</span></a></li>
          </ul>
        </div>

      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-auto">
        <dd>© Copyright 2021 Shortcuttkey</dd>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
</body>
</html>