{% extends 'base.html'%}
{% block content %}
<div class="col-12 col-sm-12">
    <div class="card">
      <h3 class="card-header bg-primary text-white">Mozilla FireFox</h3>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Accessibility</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">F12</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Add on</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">A</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Back</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Alt</span>
                 <span class="badge badge-secondary badge-pill">&alt-</span>/
                 <span class="badge badge-secondary badge-pill">Backspace</span>
                </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Bookmark All Tabs</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">D</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Bookmark This Page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">D</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Bookmarks sidebar</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">B</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Browser Console</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">J</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Caret Browsing</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">F7</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Clear Recent History</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">Del</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Close Tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">W</span>/
                 <span class="badge badge-secondary badge-pill">Ctrl</span>
                <span class="badge badge-secondary badge-pill">F4</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Close Window</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">W</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Console</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">K</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Copy</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">C</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Cut</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">X</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Debugger(JavaScript)</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">z</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Exit</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">Q</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Find</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">G</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Focus Address Bar</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Alt</span>
                 <span class="badge badge-secondary badge-pill">D</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Focus Next Link</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Tab</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Focus Previous Link</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">Tab</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Display history</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">h</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Download target  link</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Alt</span>
                 <span class="badge badge-secondary badge-pill">click on link</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the bottom of the page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">End</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the top of the page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Home</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to a specific tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">1-8</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to previous open tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">Tab</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to rightmost tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">9</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Home</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Alt</span>
                 <span class="badge badge-secondary badge-pill">left arrow</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Home</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Alt</span>
                 <span class="badge badge-secondary badge-pill">Home</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Inspector</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">C</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Library window (Bookmarks)</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">B</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Library window (History)</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">H</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Mute/Unmute Audio</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">M</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Network Monitor</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">E</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open a new Tap</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">T</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open a new window</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">N</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open a new window in Incognito mode</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">P</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open menu</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Alt</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open File</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">O</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Page Info</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                 <span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">I</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Paste</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">U</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Performance</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">F5</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Profiler</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">F5</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>print the current page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                  <h5><span class="badge badge-secondary badge-pill">p</span>
                 </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>save the current page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">s</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Redo</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5> <span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">Y</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Reload the current page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">F5</span> Or
                 <span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">R</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Responsive Design View</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">M</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Reset page zoom level</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">0</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Save Focused Link</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Alt</span>
                 <span class="badge badge-secondary badge-pill">Enter</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Save Page As</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">d</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Screenshot of Frame</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">S</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Scratchpad</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">F4</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Select All</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">A</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Stop Autoscroll Mode</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Esc</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Style Editor</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">F7</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Stop the page loading</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Esc</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Storage</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">F9</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Switch to Presentation Mode</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">Alt</span>
                 <span class="badge badge-secondary badge-pill">P</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Toggle Context Menu</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">F10</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Toggle Developer Tools</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">M</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Toggle Full Screen</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">F11</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Undo</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">Z</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Undo Close Tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">T</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Undo Close Window</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">N</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom In</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">+</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom Out</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">-</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom Reset</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">0</span></h5></td>
              </tr>

            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>
{% endblock %}