<title>Youtube</title>
{% extends 'base.html'%}
{% block content %}
      <div class="col-12 col-sm-12">
        <div class="card">
          <h3 class="card-header bg-primary text-white">Youtube</h3>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>At 0% percent of video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">0</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>At 10% percent of video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">1</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>At 20% percent of video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">2</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>At 30% percent of video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">3</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>At 40% percent of video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">4</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>At 50% percent of video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">5</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>At 60% percent of video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">6</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>At 70% percent of video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">7</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>At 80% percent of video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">8</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>At 90% percent of video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">9</span></h5></td>
                  </tr>

                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>caption ON/OFF</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">c</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Close miniplayer</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                    <h5><span class="badge badge-secondary badge-pill">Escape</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Decrease playback rate</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">&lt</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Fast forward 10 sec</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">l</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Full screen</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">f</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Increase playback rate</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5> <span class="badge badge-secondary badge-pill">></span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Miniplayer</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">i</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Mute</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">m</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Next Frame(while paused)</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">.</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Pan down(360 degree video)</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">s</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Pan left(360 degree video)</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5> <span class="badge badge-secondary badge-pill">a</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Pan right(360 degree video)</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">d</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Pan up(360 degree video)</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">w</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Play/Pause</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">k</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Previous video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">Shift</span>
                    <span class="badge badge-secondary badge-pill">P</span></h5></td>
                    </tr>
                    <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Next video</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">Shift</span>
                    <span class="badge badge-secondary badge-pill">n</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Rewind 10 sec</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">j</span></h5></td>
                  </tr>

                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Text opacity levels(Captions)</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">o</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Theater mode</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">t</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Window opacity levels</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">w</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom in (360degree videos)</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">+</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom out</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">-</span></h5></td>
                  </tr>


                </tbody>





              </table>
            </div>

          </div>
        </div>
      </div>
{% endblock %}
  