<title></title>
{% extends 'base.html'%}
{% block content %}
<div class="">
    <div >
      <div >

        <div clas="container">
          <div class="row ">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Gobal shortcuts</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Global search</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">h</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Preview</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">F9</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Redo</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">Z</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Undo</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Z</span>
                            </h5></td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<br>
        <div clas="container">
          <div class="row ">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Page editor</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>

                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Box select multiple widgets</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">Drag</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Copy widgets</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">C</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Cut widgets</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">X</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Delete widgets</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Delete</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Nudge widget 1 pixel in down direction</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&darr;</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Nudge widget 1 pixel in left direction</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&larr;</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Nudge widget 1 pixel in right direction</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&rarr;</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Nudge widget 1 pixel in up direction</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&uarr;</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Nudge widget 10 pixel in down direction</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">&darr;</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Nudge widget 10 pixel in left direction</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">&larr;</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Nudge widget 10 pixel in right direction</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">&rarr;</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Nudge widget 10 pixel in up direction</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">&uarr;</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open special editor for selected widgets</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Double click</span>Or<br>
                              <span class="badge badge-secondary badge-pill">Enter</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open widget specfic context menu</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Right click</span>Or<br>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">F10</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Paste widgets</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">V</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show/hide logic inspector</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">I</span>
                            </h5>
                          </td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<br>
        <div clas="container">
          <div class="row ">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Code editor</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Auto indent the line/selection</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">Tab</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Comment/uncomment the block</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                              <span class="badge badge-secondary badge-pill">/</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Copy text</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">C</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Cut selected text</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">X</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Delete line</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">D</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Find text</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">G</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Find previous</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">G</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Find within the code</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">F</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Fold all</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                              <span class="badge badge-secondary badge-pill">-</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Indent the line</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">]</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Line comment/uncomment</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">/</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open code completion documentation<br>when code completion window is open</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Enter</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open code completion window</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Space</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Paste text</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">P</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Remove one indent from line/selction</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">[</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Replace within code editor</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">F</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Unfold all</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                            </h5>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>

{% endblock %}