<title></title>
{% extends 'base.html'%}
{% block content %}
<div class="col-12 col-md-12 col-sm-12 ">
    <div class="card">
      <h3 class="card-header bg-primary text-white">Google Keep</h3>
      <div class="card-body">


        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Action</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Archive note</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">E</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Pin or unpin notes</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">F</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>select note</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">X</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Toggle between list and grid view</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">G</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Trash note</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">#</span>
                            </h5></td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-md-12 col-sm-12 ">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Application</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Compose a new list</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">L</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Compose a new note</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">C</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open keyboard shortcut keys</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">?</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Search notes</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">/</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Select all notes</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">A</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Send feedback</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">@</span>
                            </h5>
                          </td>
                        </tr>

                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

          <div clas="container">
            <div class="row row-content">
              <div class="col-12 col-sm-12">
                <div class="card">
                  <h3 class="card-header bg-dark text-white">Editor</h3>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tbody>
                          <tr class="d-flex">
                            <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Finish editing</h5></th>
                            <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                              <h5>
                                <span class="badge badge-secondary badge-pill">Ctrl</span>
                                <span class="badge badge-secondary badge-pill">Enter</span>Or
                                <span class="badge badge-secondary badge-pill">Esc</span>
                              </h5></td>
                          </tr>
                          <tr class="d-flex">
                            <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Indent/dedent list item</h5></th>
                            <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                              <h5>
                                <span class="badge badge-secondary badge-pill">Ctrl</span>
                                <span class="badge badge-secondary badge-pill">]</span>Or
                                <span class="badge badge-secondary badge-pill">[</span>
                              </h5></td>
                          </tr>
                          <tr class="d-flex">
                            <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Toggle checkboxes control</h5></th>
                            <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                              <h5>
                                <span class="badge badge-secondary badge-pill">Ctrl</span>
                                <span class="badge badge-secondary badge-pill">Shift</span>
                                <span class="badge badge-secondary badge-pill">8</span>
                              </h5></td>
                          </tr>

                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>






        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Navigation</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Move list item next/previous position</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">N</span>Or
                              <span class="badge badge-secondary badge-pill">P</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Move list item next/previous position</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">J</span>Or
                              <span class="badge badge-secondary badge-pill">K</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Navigation to next/Previous list item</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">N</span>Or
                              <span class="badge badge-secondary badge-pill">P</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Navigation to next/Previous note</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">N</span>Or
                              <span class="badge badge-secondary badge-pill">P</span>
                            </h5>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>






        </div>
      </div>
    </div>
{% endblock %}