<title>Google Adword</title>
{% extends 'base.html'%}
{% block content %}
      <div class="col-12 col-sm-12">
        <div class="card">
          <h3 class="card-header bg-primary text-white">Google Adword</h3>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Copy</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                      <span class="badge badge-secondary badge-pill">C</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Create a new item</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">Shift</span>
                      <span class="badge badge-secondary badge-pill">N</span></h5></td>
                  </tr><tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Paste</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                      <span class="badge badge-secondary badge-pill">P</span></h5></td>
                  </tr><tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Refresh data</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">Shift</span>
                      <span class="badge badge-secondary badge-pill">R</span></h5></td>
                  </tr>
                <tr class="d-flex">
                  <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Search for a page</h5></th>
                  <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                    <h5><span class="badge badge-secondary badge-pill">G</span>Then
                    <span class="badge badge-secondary badge-pill">T</span></h5></td>
                </tr>
                <tr class="d-flex">
                  <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show/hide help menu</h5></th>
                  <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                    <h5><span class="badge badge-secondary badge-pill">Shift</span>
                    <span class="badge badge-secondary badge-pill">H</span></h5></td>
                </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show/hide navigation panel</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">Shift</span>
                      <span class="badge badge-secondary badge-pill">W</span></h5></td>
                  </tr><tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show/hide shortcuts list</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">?</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to Ad groups page</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">G</span>Then
                      <span class="badge badge-secondary badge-pill">J</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the Ads page</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">G</span>Then
                      <span class="badge badge-secondary badge-pill">A</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the All campaigns view</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">Shift</span>
                      <span class="badge badge-secondary badge-pill">A</span></h5></td>
                  </tr>

                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the Billing page</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">G</span>Then
                      <span class="badge badge-secondary badge-pill">B</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the Campaigns page</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">G</span>Then
                      <span class="badge badge-secondary badge-pill">C</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the Extensions page</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">G</span>Then
                      <span class="badge badge-secondary badge-pill">X</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the Keywords page</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">G</span>Then
                      <span class="badge badge-secondary badge-pill">K</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the Managed accounts page</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">G</span>Then
                      <span class="badge badge-secondary badge-pill">U</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the Opportunities page</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">G</span>Then
                      <span class="badge badge-secondary badge-pill">Y</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the Overview page</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">G</span>Then
                      <span class="badge badge-secondary badge-pill">O</span></h5></td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to the Settings page</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5><span class="badge badge-secondary badge-pill">G</span>Then
                      <span class="badge badge-secondary badge-pill">S</span></h5></td>
                  </tr>



                </tbody>

              </table>
            </div>

          </div>
        </div>
      </div>
{% endblock %}