<title></title>
{% extends 'base.html'%}
{% block content %}
<div class="col-12 col-sm-12">
    <div class="card">
      <h3 class="card-header bg-primary text-white">Twitter</h3>
      <div class="card-body">

        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Ations</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Archive or unarchive photo</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&uarr;</span>
                              <span class="badge badge-secondary badge-pill">a</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Delete or remove from album</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">#</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Download</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&uarr;</span>
                              <span class="badge badge-secondary badge-pill">d</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Edit photo</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">e</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Favorite or unfavorite photo</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">f</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Play or pause video</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Space</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Rotate</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&uarr;</span>
                              <span class="badge badge-secondary badge-pill">r</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show or hide info</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">i</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom photo</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">z</span>Or
                              <span class="badge badge-secondary badge-pill">+</span>
                              <span class="badge badge-secondary badge-pill">-</span>
                            </h5></td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">General</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Back,close or deselect</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Esc</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Previous or next photo</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&larr;</span>Or
                              <span class="badge badge-secondary badge-pill">&rarr;</span>
                            </h5></td>
                        </tr>
                            <tr class="d-flex">
                              <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Search your photos</h5></th>
                              <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                                <h5>
                                  <span class="badge badge-secondary badge-pill">/</span>
                                </h5></td>
                            </tr>
                              <tr class="d-flex">
                                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Select</h5></th>
                                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                                  <h5>
                                    <span class="badge badge-secondary badge-pill">x</span>
                                  </h5></td>
                              </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Photo editing</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Auto enhance</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">a</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show original</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">o</span>
                            </h5></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        </div>
      </div>
    </div>
{% endblock %}