<title></title>
{% extends 'base.html'%}
{% block content %}
<div class="col-12 col-sm-12">
    <div class="card">
      <h3 class="card-header bg-primary text-white">Google Calendar</h3>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Back to calendar view</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Esc</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Create event</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">C</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5 "><h5>Custom view</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">4</span>Or
                  <span class="badge badge-secondary badge-pill">X</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Day view</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">1</span>Or
                  <span class="badge badge-secondary badge-pill">D</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Delete event</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Backspace</span>Or
                  <span class="badge badge-secondary badge-pill">Delete</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Edit event</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">e</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Focus on add a calendar text box</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">=</span>Or
                  <span class="badge badge-secondary badge-pill">+</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to date</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">G</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to side panel</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Alt</span>
                 <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">.</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to side panel</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Alt</span>
                 <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">,</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Month view</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">3</span>Or
                  <span class="badge badge-secondary badge-pill">M</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Next period</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">N</span>Or
                  <span class="badge badge-secondary badge-pill">J</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open create bubble</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Shift</span>
                 <span class="badge badge-secondary badge-pill">C</span>Or
                  <span class="badge badge-secondary badge-pill">Q</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open shortcut help</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">/</span>Or
                  <span class="badge badge-secondary badge-pill">?</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Previous period</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">P</span>Or
                 <span class="badge badge-secondary badge-pill">K</span></h5></td>
              </tr>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Print</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">P</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Save event</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                 <span class="badge badge-secondary badge-pill">S</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Schedule view</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">5</span>Or
                 <span class="badge badge-secondary badge-pill">A</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Search</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">/</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Setting</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">S</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Today</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">T</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Undo last action</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Z</span>Or
                 <span class="badge badge-secondary badge-pill">Z</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Week View</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">2</span>Or
                 <span class="badge badge-secondary badge-pill">W</span></h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Year view</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5><span class="badge badge-secondary badge-pill">6</span>Or
                 <span class="badge badge-secondary badge-pill">Y</span></h5></td>
              </tr>


          </table>
        </div>

      </div>
    </div>
  </div>
{% endblock %}