<title></title>
{% extends 'base.html'%}
{% block content %}
<div class="col-12 col-sm-12">
    <div class="card">
      <h3 class="card-header bg-primary text-white">Google web designer</h3>
      <div class="card-body">

        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Edit</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Add gradient mask..</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">G</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Add image mask</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">I</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Break apart group</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">B</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Copy</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">C</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Create group</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">F8</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Cut</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">X</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Find</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">F</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Find and replace</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">F</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Insert timeline keyframe</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">F6</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Paste</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">V</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Paste special</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">V</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Redo</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Y</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Remove keyframe</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">F5</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Select all</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">A</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Swap fill and stroke</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">X</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Undo</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Z</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Wrap elemnts</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">R</span>
                            </h5>
                          </td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">File</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Close</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">W</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Close all</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">W</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Create new file</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">N</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Import assets</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">I</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open file</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">O</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Quit</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Q</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5></h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill"></span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Save</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">S</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Save all</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">L</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Save as</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">S</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5></h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill"></span>
                            </h5>
                          </td>
                        </tr


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Miscellaneous</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to next open document</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Tab</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to previous open document</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">Tab</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Preview</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Enter</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Publish</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">P</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Toggle between code view and design view</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">C</span>
                            </h5>
                          </td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Tools</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Elephant tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">D</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Eyedropper tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">I</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Fill tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">F</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Gradient tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">A</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Hand tol</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">H</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Line tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill"></span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Motion path tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">M</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Oval mask tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">B</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Oval tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">O</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Pen tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">P</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Polygon mask tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">J</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Rectangle mask tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">E</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Rectangle tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">R</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Rotate 3D tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">W</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Rotate stage tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">R</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Select zoom level</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Z</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Stroke tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">K</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Text tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">T</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Translate tool</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">G</span>
                            </h5>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">View</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Hide all panel Or show all panels</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">F4</span>
                            </h5>
                          </td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Lock guides</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                              <span class="badge badge-secondary badge-pill">;</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show guides</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">;</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom in</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">=</span>
                            </h5>
                          </td>
                        </tr><tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom out</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">-</span>
                            </h5>
                          </td>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        </div>
      </div>
    </div>
{% endblock %}