<title></title>
{% extends 'base.html'%}
{% block content %}
<div class="col-12 col-md-12 col-sm-12 ">
    <div class="card">
      <h3 class="card-header bg-primary text-white">Google sites</h3>
      <div class="card-body">

        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-md-12 col-sm-12 ">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Page,section,and menu</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Expand all pages</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">*</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Expand/collapse children</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&larr;</span>/
                              <span class="badge badge-secondary badge-pill">&rarr;</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Focus first page</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Home</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Focus last page</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">End</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Grab a page, section,embed</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Enter</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Grab/drop page</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Space bar</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Interact with elements in focus page</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Tab</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Move the section or embed</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Arrow keys</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Navigate between elements</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Tab</span>Or
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">Tab</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Navigate the options inside a menu</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Arrow keys</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Nest the page</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              After page is grabbed use<br>
                              <span class="badge badge-secondary badge-pill">&rarr;</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open shortcut keys</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">/</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open context menu</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">\</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Release a page,section or embed</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Esc</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Resize the embed</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                              <span class="badge badge-secondary badge-pill">&rarr;</span>Or
                              <span class="badge badge-secondary badge-pill">&larr;</span>

                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Select a section</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Enter</span>Or
                              <span class="badge badge-secondary badge-pill">Space bar</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Unnest the page</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              After page is grabbed use
                              <span class="badge badge-secondary badge-pill">&larr;</span>
                            </h5></td>
                        </tr>


                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div clas="container">
          <div class="row row-content">
            <div class="col-12 col-sm-12">
              <div class="card">
                <h3 class="card-header bg-dark text-white">Editing</h3>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <tbody>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Align center</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">e</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Align left</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">l</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Align right</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">r</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Apply code font</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                              <span class="badge badge-secondary badge-pill">7</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Apply heading</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                              <span class="badge badge-secondary badge-pill">2</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Apply normal text</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                              <span class="badge badge-secondary badge-pill">0</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Apply subheading</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                              <span class="badge badge-secondary badge-pill">3</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Apply title</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                              <span class="badge badge-secondary badge-pill">1</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Bold</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">b</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Bulleted list</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">8</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Clear formatting</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">\</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Insert link</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">k</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Italic</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">i</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Move item in or out of group</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">&larr;</span>Or
                              <span class="badge badge-secondary badge-pill">&rarr;</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Move item up,down,left and right</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&uarr;</span>
                              <span class="badge badge-secondary badge-pill">&darr;</span>
                              <span class="badge badge-secondary badge-pill">&larr;</span>
                              <span class="badge badge-secondary badge-pill">&rarr;</span>
                            </h5></td>
                        </tr>

                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Numbered list</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Ctrl</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">7</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Reorder items in group</h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">&uarr;</span>Or
                              <span class="badge badge-secondary badge-pill">&darr;</span>
                            </h5></td>
                        </tr>
                        <tr class="d-flex">
                          <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Strikethrough </h5></th>
                          <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                            <h5>
                              <span class="badge badge-secondary badge-pill">Alt</span>
                              <span class="badge badge-secondary badge-pill">Shift</span>
                              <span class="badge badge-secondary badge-pill">5</span>
                            </h5></td>
                        </tr>

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        </div>
      </div>
    </div>
{% endblock %}