<title>Google analytics</title>
{% extends 'base.html'%}
{% block content %}
      <div class="col-12 col-sm-12">
        <div class="card">
          <h2 class="card-header bg-primary text-white">Google analytics</h2>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <tbody>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Apply last period comparison to date range</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">d</span>
                        <span class="badge badge-secondary badge-pill">c</span>
                      </h5>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Apply year ago comparison to date range</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">d</span>
                        <span class="badge badge-secondary badge-pill">x</span>
                      </h5>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Date range of last 7 days</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">d</span>
                        <span class="badge badge-secondary badge-pill">7</span>
                      </h5>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Date range of last 30 days</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">d</span>
                        <span class="badge badge-secondary badge-pill">30</span>
                      </h5>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Date range of last week</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">d</span>
                        <span class="badge badge-secondary badge-pill">w</span>
                      </h5>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Date range of today</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">d</span>
                        <span class="badge badge-secondary badge-pill">t</span>
                      </h5>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Date range of yesterday</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">d</span>
                        <span class="badge badge-secondary badge-pill">y</span>
                      </h5>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open search bar</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">s</span>Or
                        <span class="badge badge-secondary badge-pill">/</span>
                      </h5>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open the account picker</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">a</span>
                      </h5>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open shortcut keys</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill"></span>
                        <span class="badge badge-secondary badge-pill"></span>
                      </h5>
                    </td>
                  </tr>
                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open/close left navigation pane</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">m</span>
                      </h5>
                    </td>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
{% endblock %}