
{% extends 'base.html'%}
{% load static %}
{% block content %}
<title>Microsoft category</title>
<h5 style="color: blue;">Microsoft:</h5>
{% for post in post %}
    {% if post.microsoft %}
    <div class="card">
      <div class="card-header" id="card-header">
        <div class="row">
          <div class="col-10">
            <h1 style="font-family: Arial, Helvetica, sans-serif;">{{post.head}}</h1>
          </div>
          <div class="col-2">

            <form action="{% url 'addfavourite' post.id %}" method="POST">
              {% if user.is_authenticated %}
                {% csrf_token %}
                {% if user not in post.favourite.all %}
                  <button type="submit" value="{{post.id}}" style="background: none; border: none; color: rgb(0, 0, 0);" >
                    <img src="{% static '/img/broken_heart.png' %}" style="width: 50px; height: 50px;"/>
                  </button>
                {% else %}
                  <button type="submit" value="{{post.id}}" style="background: none; border: none; color: rgb(0, 255, 0);" >
                    <img src="{% static '/img/heart.png' %}" style="width: 50px; height: 50px;"/>
                  </button>
                {% endif %}
              {% endif %}
            </form>
            
          </div>
        </div>
      </div>
      <a href="{{post.url}}" style="text-decoration: none;">
        <div class="card-body" >
          <h2>{{post.subheading}}</h2></a><br>
          <p>{{post.description}}</p>
          <div class="row">
            <div class="col-6">
              <h5>Category:
                {% if post.microsoft %}
                    <a href="microsoft" style="text-decoration: none;">microsoft</a>
                {% endif %}
                {% if post.google %}
                    <a href="google" style="text-decoration: none;">google</a>
                {% endif %}
                {% if post.socialmedia %}
                    <a href="socialmedia" style="text-decoration: none;">Social media</a>
                {% endif %}
                {% if post.other %}
                    <a href="other" style="text-decoration: none;">Other</a>
                {% endif %}
              </h5>
            </div>
            <div class="col-6">
              <h5>Date:
                <span style="color: rgba(98, 98, 255, 0.973);">{{post.date}}</span>
              </h5>
            </div>
          </div>
        </div>
    </div>
    <br>
    {% endif %}
  {% endfor %}
{% endblock %}
  