<title></title>
{% extends 'base.html'%}
{% block content %}
<div class="col-12 col-sm-12">
    <div class="card">
      <h3 class="card-header bg-primary text-white">Microsoft Photos</h3>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Add selected item to album</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">D</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Copy</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">C</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Create a new album</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">N</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Enhance a photo</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">E</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Move crop/selective focus</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Arrow keys</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Move within a photo(zoomed photo)</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Arrow keys</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Play/pause video(viewing video)</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Spacebar</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Print</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">P</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Redo changes</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Y</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Remove album</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">R</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Remove selected item from album</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">U</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Reset zoom</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">0</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Resize crop/selective focus area</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Shift</span>
                    <span class="badge badge-secondary badge-pill">Arrow keys</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Return to previous screen</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Esc</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Rotate a photo</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">R</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Save</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">S</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Scroll up</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">&uarr;</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Scrol down</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">&darr;</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Scroll right</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">&rarr;</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Scroll left</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">&larr;</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Select an item and enter selection mode</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Space bar</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Set lock screen</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">L</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show/hide commands</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Spacebar</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show next item</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">&larr;</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show previous item</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">&rarr;</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Start a slide show</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">F5</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Undo changes</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">Z</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>View file info</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Alt</span>
                    <span class="badge badge-secondary badge-pill">Enter</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>View original</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">/</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom in a photo</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">+</span>
                  </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom out a photo</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Ctrl</span>
                    <span class="badge badge-secondary badge-pill">-</span>
                  </h5></td>
              </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
{% endblock %}