<title></title>
{% extends 'base.html'%}
{% block content %}
<div class="col-12 col-sm-12">
    <div class="card">
      <h3 class="card-header bg-primary text-white">Microsoft Edge</h3>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Add www.at beginning and .com at end in the addres</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Enter</span>
                </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Close the current tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">F4</span>Or<br>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">W</span>
                </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Close the current window</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">W</span>Or<br>
                  <span class="badge badge-secondary badge-pill">Alt</span>
                  <span class="badge badge-secondary badge-pill">F4</span>

                </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Full screen</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">F11</span>
                </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Enter or exit Immersive Reader</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">F9</span>
                </h5></td>
              </tr>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Find on page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">F</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go back</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Alt</span>
                  <span class="badge badge-secondary badge-pill">&larr;</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go forward</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Alt</span>
                  <span class="badge badge-secondary badge-pill">&rarr;</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go next tab stop</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                    <span class="badge badge-secondary badge-pill">Tab</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to previou tab stop</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill"Shift</span>
                  <span class="badge badge-secondary badge-pill">Tab</span>

                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to bottom of the page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">End</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go to top of page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Home</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to next match to find bar</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">G</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to previous to find search bar</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">G</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Mute the current tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">M</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open file from computer in Edge</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">O</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open Inprivate window</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">N</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open new tab and switch it</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">T</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open new window</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">N</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open search bar in address bar</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">E</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open clear browsing data</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">Delete</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open context menu</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">F10</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open Developer Tools</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">I</span>Or<br>
                  <span class="badge badge-secondary badge-pill">F12</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open downloads in new tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">J</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open favorites management</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">O</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Help</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">F1</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open history in new tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">H</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open settings and more</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">F10</span>
                  <span class="badge badge-secondary badge-pill">Enter</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open Send feedback dialog</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Alt</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">I</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>open Settings and more</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Alt</span>
                  <span class="badge badge-secondary badge-pill">E</span>Or<br>
                  <span class="badge badge-secondary badge-pill">Alt</span>
                  <span class="badge badge-secondary badge-pill">F</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Open home page in current tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Alt</span>
                  <span class="badge badge-secondary badge-pill">Home</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5></h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill"></span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Paste and search</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">L</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Paste without formatting</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">V</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Print the current page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">P</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Print using system dialog box</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">P</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Reload the current page ignore cached content</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">R</span>Or<br>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">F5</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Reload current page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">R</span>Or<br>
                  <span class="badge badge-secondary badge-pill">F5</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Reopen last closed tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">T</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Reset zoom level</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">0</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Rotate PDF clockwise 90*</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">]</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Rotate PDF counter clock wise 90*</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">[</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Save all tabs as favoritesin new folder</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">D</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Save the current page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">S</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Save your current page as favorite</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">D</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Scroll down webpage,one screen at time</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">PgDn</span>Or<br>
                  <span class="badge badge-secondary badge-pill">Spacebar</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Scroll up webpage,one screen at time</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">PgUp</span>Or<br>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">Spacebar</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Select URL in address bar to edit</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Alt</span>
                  <span class="badge badge-secondary badge-pill">D</span>Or<br>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">L</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Select the URL in addresss bar</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">F4</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Set focus on first item in favorites</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Alt</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">B</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Set focus on first time in toolbar</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Alt</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">T</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Set focus on settings and more</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Alt</span>Or<br>
                  <span class="badge badge-secondary badge-pill">F10</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Show or hide favorites</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">B</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Sign in as suser or guest</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">M</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Start or stop Read Aloud</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">U</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Stop loading page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Esc</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Switch focus to next pane</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">F6</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Switch focus to previous pane</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">F6</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Switch to specific tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">1,2,....8</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Switch to last tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">9</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Switch to next tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">PgUp</span>Or<br>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Tab</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Switch to previous tab</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">PgUp</span>Or<br>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">Tab</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Toggle PDF between fit to page</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">\</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Turn caret browsing on or off</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">F7</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>View source</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">U</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom in</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">+</span>
                </h5></td>
              </tr><tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Zoom out</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">-</span>
                </h5></td>
              </tr>

            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
{% endblock %}