<title></title>
{% extends 'base.html'%}
{% block content %}
<div class="col-12 col-sm-12">
    <div class="card">
      <h3 class="card-header bg-primary text-white">Voice Recorder</h3>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-striped">
            <tbody>

              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Add a new marker to the recording</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Ctrl</span>
                  <span class="badge badge-secondary badge-pill">M</span>
                </h5>
              </td>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Delete the selected recording</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Delete</span>
                </h5>
              </td>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Go back</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Backspace</span>
                </h5>
              </td>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump ahead while playing recording</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">&rarr;</span>
                </h5>
              </td>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump further ahead or back</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Shift</span>
                  <span class="badge badge-secondary badge-pill">&larr;</span>
                </h5>
              </td>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to the end of recording</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">End</span>
                </h5>
              </td>
              <tr class="d-flex">
                <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Jump to start of recording</h5></th>
                <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                <h5>
                  <span class="badge badge-secondary badge-pill">Home</span>
                </h5></td>

                <tr class="d-flex">
                  <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Play or pause</h5></th>
                  <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                  <h5>
                    <span class="badge badge-secondary badge-pill">Spacebar</span>
                  </h5></td>

                  <tr class="d-flex">
                    <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Rename a recording</h5></th>
                    <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                    <h5>
                      <span class="badge badge-secondary badge-pill">F2</span>
                    </h5></td>
                    <tr class="d-flex">
                      <th class="col-6 col-md-6 col-sm-6 col-lg-5 col-xl-5"><h5>Start a new recording</h5></th>
                      <td class="col-6 col-md-6 col-sm-6 col-lg-7 col-xl-7">
                      <h5>
                        <span class="badge badge-secondary badge-pill">Ctrl</span>
                        <span class="badge badge-secondary badge-pill">R</span>
                      </h5></td>
              </tr>




            </tbody>


          </table>
        </div>

      </div>
    </div>
  </div>
{% endblock %}